<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artie10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".PlayVideo"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".RetrieveVideo"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ARScreenSession"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".View.AboutUs"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SignInUser"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SignedUpUser"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ARScreen"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PaintActivity"
            android:parentActivityName=".ARScreen"
            android:theme="@style/Transparent" />
        <activity
            android:name=".InfoPage"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".HelpScreen"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".UploadVideo"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Categories"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Biology"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>